# Welcome to our Lab Practice!

This lab is all about defining functions with multiple parameters. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "*message*" *n* times, where *message* and *n* are parameters

In [1]:
# your code will be here
def print_msg(n , message):
  for i in range(n):
    print(message)
print_msg(6,"Hello , World!")

Hello , World!
Hello , World!
Hello , World!
Hello , World!
Hello , World!
Hello , World!

###Task: define a function that print integers *n*  to *m* (hint: you can use a for loop), where *n* and *m* are parameters, and *n < m*.

Challenge: Can you write a program that doesn't require *n < m*?

In [2]:
# your code will be here
def print_int(n,m):
  for i in range(n,m + 1 ,1):
    print(i)
print_int(4,10)

4
5
6
7
8
9
10

###Task: define a function that print the sum of *n*  to *m*, where *n, m* are parameters, and *n* < *m*.

In [3]:
# your code will be here
def sum_num(n,m):
  sum = 0 
  for i in range(n,m + 1 ,1):
    sum += i 
  print(sum)
sum_num(2,4)

9

###Task: define a function that print the AND logical operation of *condition1* and *condition 2*, where *condition1, condition2* are parameters.

In [5]:
# your code will be here
def logic(con1,con2):
  print(con1 and con2)
logic(True , True)

True

###Task: define a function that print if *n* is dividible by *m*, where *n, m* are parameters.

In [6]:
# your code will be here
def pri(n,m):
  if n % m == 0:
    print(True)
  else:
    print(False)
pri(9,3)

True

###Task: define a function that print the minimal number from *x, y, z*, where *x, y, z* are parameters

In [8]:
# your code will be here
def min(x,y,z):
  min = x 
  if y < min :
    min = y 
  elif z < min : 
    min = z 
  else:
    min = x 
  print(min)
min(2,-4,6)

-4